:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
     --most: #fb5849;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'roboto',sans-serif;
}
.container{
    height: 100%;
    width: 100%;
    background: rgb(208, 206, 206);
    background-color: var(--light);
}
.header{
    background: var(--light);
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;

}
.header .name{
    color: var(--most);
    margin: 10px;

}
.navigation{
    margin: 10px;
    
}
.navigation a{
    float: left;
    display: block;
    color: var(--dark);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigation a:hover{
    color: var(--most);
}
.navigation a:active{
    color: var(--most);
}
.home{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 700px;
}
.grid-item{
    font-size: 12px bold;
    text-align: center;
    height: 720px;
    align-items: center;


}
#top{
    background: var(--most);
    color: var(--light);
    height: 720px;
    text-align: center;
    
}
#top h1{
    margin-top: 100px;
   text-align: center;
  
}
#top h5{
    margin-top: 5px;
   text-align: center;
   font-family: var(--font-family-sans-serif);
}
#top button{
    height: 40px;
    margin: 5px;
    width: 170px;
    border:none;
    background: var(--light);
    border-radius: 2px;
    margin: 10px;
    color: var(--most);
    cursor: pointer;

}

.mySlides{
   display: none;
    align-items: center;
    height: 720px;
}
.aboutUs{
    margin: 30px;
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--light);
   
}
.aboutUs .left{
    height: 500px;
    text-align: center;
}
.aboutUs .left h6{
    color:#fb5849;
    font-size: 1.5em;
    font-family: var(--font-family-monospace);
    margin: 5px;
}
.aboutUs .left h2{
    margin: 5px;
    color: var(--gray-dark);
    font-family: var(--font-family-sans-serif);
}
.aboutUs .left p{
    font-family:'roboto',sans-serif;

}

.aboutUs .left .food-image img{
    height: 150px;
    width: 150px;
    margin: 5px
}
.aboutUs .right{
    height: 500px;
    
}
.aboutUs img{
    border-radius: 5px;
    margin: 5px;

}

.menu{
    height: 600px;
    width: 100%;
    margin: 25px;
}
.menu h6{
    color:#fb5849;
    font-size: 1.5em;
    font-family: var(--font-family-monospace);
    margin: 5px;

}
.menu h1{
    margin: 5px;
    color: var(--dark);
    font-family: var(--font-family-sans-serif);

}

.wrapper{
    
    width: 100%;
    position: relative;
}

.wrapper .car{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3)-12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;

}
.car::-webkit-scrollbar { 
    display: none; 
} 
  
.car :where(.card, .image) { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
.car.dragging { 
    scroll-snap-type: none; 
    scroll-behavior: auto; 
} 
  
.car.no-transition { 
    scroll-behavior: auto; 
} 
  
.car.dragging .card { 
    cursor: grab; 
    user-select: none; 
} 
.car .card{
    
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #fff;
    margin: 90px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}
.car .card:hover{
    height: 320px;
}
.car .card .image{
    position : relative;
  width : 260px;
  height : 260px;
  
  top : -10%;
  left: 8px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index: 1;
}
.car .card .image img{
    max-width : 100%;
    border-radius : 15px;
}
.car .card .content{
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
}
.container .card:hover .content {
    margin-top : 100px;
    visibility : visible;
    opacity : 1;
    transition-delay: 0.2s;
   
 }
 .chefs{
    width: 100%;
    height: 600px;
    margin: 25px;
    background: var(--light);


 }
 .chefs h6{
    color:#fb5849;
    font-size: 1.5em;
    font-family: var(--font-family-monospace);
    margin: 5px;
 }
 .chefs h1{
    margin: 5px;
    color: var(--dark);
    font-family: var(--font-family-sans-serif);
    
 }
 .chefs .chefcards{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: auto auto auto;
 }
 .chefs .chefcards .chef{
   margin: 10px;
   border: 2px solid;
   border-color: var(--dark);
   color: var(--dark);
   border-radius: 5px;
   text-align: center;
}
.chefs .chefcards .chef:hover{
    border-color: var(--most);
    color: var(--most);

}

.chefs .chefcards .chef .chefimg img{
    border-radius: 5px;
    margin: 5px;
}
.chefs .chefcards .chef h4{
    font-size: 1.5em;

}
.chefs .chefcards .chef h5{
    font-size: 1em;
    
}
.contact{
    text-align: center;
    width: 100%;
    height: 1000px;
    background-color: var(--dark);
    

}
.contact h6{
    text-align: left;
    color:#fb5849;
    font-size: 1.5em;
    font-family: var(--font-family-monospace);
    margin: 5px;

}
.contact h1{
    margin: 5px;
    color: #fff;
    font-family: var(--font-family-sans-serif);

}
.contact h4{
    margin: 5px;
    color: #fff;
    font-family: var(--font-family-sans-serif);
}
.contact .contact-cards{
    width: 100%;
    margin: 15px;
    display: grid;
    grid-template-columns: auto auto;
    
}
.contact .contact-cards .contact-card{
    background: var(--light);
    height: 100px;
    width: 400px;
    margin: 10px;
    text-align: center;
    color: var(--gray-dark);
    border-radius: 5px;

}
.contact .contact-cards .contact-card:hover{
    cursor: pointer;
    color: var(--most);
    height: 110px;
    width: 450px;
}
.contact .contact-cards .contact-card h5{
    font-size: 1em;

}
.contact form{
    width: 95%;
    height: 600px;
    background-color: #f8f9facf;
    margin: 15px;
    border-radius: 5px;
}
.contact form legend{
    text-align: center;
    color: black;
    font-size: 2rem;
    font-family: var(--font-family-sans-serif);
    margin: 5px;
}
.contact form input{
    width: 90%;
    border: none;
    margin: 10px;
    height: 40px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
}
.contact form input:hover{
    cursor: pointer;
    border-color: var(--most);
}
.contact form textarea{
    height: 70px;
    width: 90%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
}
.contact form button{
    width: 90%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: var(--most);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--light);
    cursor: pointer;
}
.offers{
    height: 900px;
    width: 100%;
    text-align: center;
    margin: 25px;

}
.offers h6{
    text-align: center;
    color:#fb5849;
    font-size: 1.5em;
    font-family: var(--font-family-monospace);
    margin: 5px;


}
.offers h1{
    margin: 5px;
    color: var(--dark);
    font-family: var(--font-family-sans-serif);

}
.offers .meals{
    margin: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;


}
.offers .meals .meal-card{
    height: 100px;
    width: 100px;
    margin: 10px;


}
.offers .meals .meal-card button{
    border: none;
    background: var(--light);
    cursor: pointer;
    text-align: center;

}
.offers .meals .meal-card button:hover{
    color: var(--most);
}
.offers .breakfast{
    width: 100%;
    height: 800px;
    margin: 5px;
   

   
}
.offers .Lunch{
    width: 100%;
    height: 800px;
    margin: 5px;
    display: none;
}
.offers .Dinner{
    width: 100%;
    height: 800px;
    margin: 5px;
    display: none;

}
table{
    margin: 5px;
    
    width: 100%;
}
tr{
    margin: 5px;
    width: 100%;
}
td{
    margin: 10px;

}
td img{
    margin: 5px;
    border-radius: 4px;

}
td h2{
    margin: 5px;
    text-align: left;
    color: var(--dark);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}
td button{
    background: var(--most);
    color: var(--light);
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    cursor: pointer;
}
.footer{
    height: 400px;
    text-align: center;
    width: 100%;
    margin-top: 65px;
    background-color: var(--most);
    color: var(--light);
    font-family: var(--font-family-sans-serif);

}
.footer .icons{
    margin: 5px;

}
.footer .logo{
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
}
.footer .copyright{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.5em;
}